doctype html
html
  head
    meta(charset='UTF-8')
    title= '用户管理'
    link(href="/stylesheets/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css")
    link(href="/javascripts/jtable/themes/lightcolor/blue/jtable.css" rel="stylesheet" type="text/css")
    link(href="/javascripts/validationEngine/css/validationEngine.jquery.css" rel="stylesheet" type="text/css")

    script(src="/javascripts/jquery-1.6.4.min.js" type="text/javascript")
    script(src="/javascripts/jquery-ui-1.8.16.custom.min.js" type="text/javascript")
    script(src="/javascripts/jtable/jquery.jtable.js" type="text/javascript")
    script(src="/javascripts/validationEngine/js/jquery.validationEngine.js" type="text/javascript")
    script(src="/javascripts/validationEngine/js/languages/jquery.validationEngine-zh_CN.js" type="text/javascript")
  body(style='text-align:center;')
    div(style='background-color:#EAEAEA;width:1300px;color:#858585;height:22px;margin:auto;')
      -if(session.pri_9 == 1)
        a(href='/basic_data',style='text-decoration:none;color:rgb(75,133,191);') 基本数据
        &nbsp;|&nbsp;
      -if(session.pri_1 == 1 || session.pri_2 == 1)
        a(href='/users',style='text-decoration:none;color:rgb(75,133,191);') 用户管理
        &nbsp;|&nbsp;
      -if(session.pri_3 == 1 || session.pri_4 == 1)
        a(href='/project',style='text-decoration:none;color:rgb(75,133,191);') 游戏管理
        &nbsp;|&nbsp; 
      -if(session.pri_5 == 1 || session.pri_6 == 1)
        a(href='/game',style='text-decoration:none;color:rgb(75,133,191);') 公司统计
        &nbsp;|&nbsp;
      -if(session.pri_7 == 1)
        a(href='/vendor',style='text-decoration:none;color:rgb(75,133,191);') 渠道统计
        &nbsp;|&nbsp;
      -if(session.pri_8 == 1)
        a(href='/cp',style='text-decoration:none;color:rgb(75,133,191);') CP统计
        &nbsp;|&nbsp;
      a(href='/login/logout',style='text-decoration:none;color:rgb(75,133,191);') 登出
    div(id='myDiv' style="width: 1300px;margin:auto;")
    div(id='myDiv2' style="width: 1300px;margin:auto;")
    script(type="text/javascript").
      $(document).ready(function () {
        //- alert("test");
        //Prepare jTable
        $('#myDiv').jtable({
          title: '用户管理',
          //- paging: true, //Enable paging
          //- pageSize: 5, //Set page size (default: 10)
          //- sorting: true, //Enable sorting
          //- defaultSorting: 'username ASC', //Set default sorting
          actions: {
            listAction: 'users/list',
            createAction: 'users/create',
            updateAction: 'users/update',
            deleteAction: 'users/delete'
          },
          fields: {
            id: {
              key: true,
              create: false,
              edit: false,
              list: false
            },
            username: {
              //- key: true,
              title: '用户名',
              width: '16%'
            },
            password: {
              title: '密码',
              width: '12%',
              type: 'password'
            },
            pri_1: {
              title: '用户管理设定',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_2: {
              title: '用户管理查看',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_3: {
              title: '游戏管理设定',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_4: {
              title: '游戏管理查看',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_5: {
              title: '公司统计填报',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_6: {
              title: '公司统计查看',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_7: {
              title: '渠道统计查看',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_8: {
              title: 'CP统计查看',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            },
            pri_9: {
              title: '基本数据管理',
              width: '8%',
              type: 'checkbox',
              values: { '0': '', '1': '√' }
            }
            //- pri_10: {
            //-   title: 'pri_10',
            //-   width: '5%',
            //-   type: 'checkbox',
            //-   values: { '2': '', '1': '√' }
            //- },
            //- pri_11: {
            //-   title: 'pri_11',
            //-   width: '5%',
            //-   type: 'checkbox',
            //-   values: { '2': '', '1': '√' }
            //- },
            //- pri_12: {
            //-   title: 'pri_12',
            //-   width: '5%',
            //-   type: 'checkbox',
            //-   values: { '2': '', '1': '√' }
            //- },
          },
          //Initialize validation logic when a form is created
          formCreated: function (event, data) {
              data.form.find('input[name="username"]').addClass('validate[required]');
              //- data.form.find('input[name="EmailAddress"]').addClass('validate[required,custom[email]]');
              data.form.find('input[name="password"]').addClass('validate[required]');
              //- data.form.find('input[name="BirthDate"]').addClass('validate[required,custom[date]]');
              //- data.form.find('input[name="pri_1"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_2"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_3"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_4"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_5"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_6"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_7"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_8"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_9"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_10"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_11"]').addClass('validate[required]');
              //- data.form.find('input[name="pri_12"]').addClass('validate[required]');
              data.form.validationEngine();
          },
          //Validate form when it is being submitted
          formSubmitting: function (event, data) {
              return data.form.validationEngine('validate');
          },
          //Dispose validation logic when form is closed
          formClosed: function (event, data) {
              //- data.form.validationEngine('hide');
              //- data.form.validationEngine('detach');
          }
        });

        //Load person list from server
        $('#myDiv').jtable('load');
      });
    